<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>

<body>
    <center>
        <h1>Reset password </h1>
        <table border="1" bordercolor="red" cellspacing="0" cellpadding="20">
            <tr>
                <td>
                    <form action="/newPassword" method="post">
                        <div>
                            <div>
                                <input type="password" size="30" name="currentpassword" placeholder="Enter Old Password" value="<%= values.currentpassword%>"
                                    ><br>
                                    <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                        <div style="color: red;">
                                            <%= error1 %>
                                        </div>
                                        <% } %>
                            </div><br>

                            <div>
                                <input type="password" size="30" name="newpassword" placeholder="Enter New Password" value="<%= values.newpassword%>"
                                    ><br>
                                    <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                        <div style="color: red;">
                                            <%= error2 %>
                                        </div>
                                        <% } %>
                            </div><br>

                            <diV>
                                <input type="password" size="30" name="confirmpassword" placeholder="Confirm Password" value="<%= values.confirmpassword%>"> <br>
                                <% if (typeof error3 !=='undefined' && error3.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error3 %>
                                    </div>
                                    <% } %>
                            </diV>
                        </div><br>
                        <div>
                            <center>
                                <button>Submit</button>
                                <button><a href="/index">Cancel</a></button>
                            </center>
                        </div><br>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>